<!-- templates/post_detail.html -->
{% extends 'index.html' %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Hey Drama Lover! </h3>
                    <p class="text-light">Enjoy Your Reading! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
            

    <div class="post-entry">
        <!-- <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p> -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                <p class="card-text">{{post.content|slice:":1000" }}</p>
            </div>
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% include 'comment.html' %} {% endblock sidebar %}

        <!-- <div class="col-md-8 card mb-4  mt-3 "> 
        <div class="card-body"> -->
            <!-- comments -->
            <h5>{{ comments.count }} Comments</h5>
    
                    
            <!-- {% for comment in comments %}
            <div class="comments">
                <p class="font-weight-bold">
                          {{ comment.name }}
                          <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                          </span>
                        </p>
                        {{ comment.body | linebreaks }}
                      </div>
                      {% endfor %}
                    </div>
                </div>
                  <div class="col-md-8 card mb-4  mt-3 ">
                        <div class="card-body">
                            {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting APPROVAL
                            </div>
                            {% else %}
                            <h6 class="text-muted font-weight-normal">Leave a comment</h6>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form.as_p }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>	
                </div>
                
     -->
    
</div>


{% endblock content %}